/* https://acss.io/reference */
.db {
    display: block;
}
.df {
    display: flex;
}
.dn {
    display: none;
}
.tac {
    text-align: center;
}
.vh {
    visibility: hidden;
}
.sr-js-legacy {
    .legacy {
        &-db {
            display: block;
        }
        &-dn {
            display: none;
        }
        &-tac {
            text-align: center;
        }
        &-vh {
            visibility: hidden;
        }
    }
}
.sr-js-trendy {
    .trendy {
        &-db {
            display: block;
        }
        &-dn {
            display: none;
        }
        &-tac {
            text-align: center;
        }
        &-vh {
            visibility: hidden;
        }
    }
}
/* Le mot-clef "important" est indispensable pour forcer la specificite, ainsi que l'usage du selecteur "element > element" pour les items de liste. */
.list-ml0 {
    margin-left: 0 !important;
}
.list-n > li {
    list-style-type: none !important;
}
.grow {
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.1);
        transform-origin: 0 0;
    }
}