textarea {
    background-color: #fff;
}
input[type=email], input[type=text], input[type=reset], input[type=submit], textarea {
    width: 100%;
}
input[type=email], input[type=text], input[type=reset], input[type=submit] {
    color: $accent-color;
    font-weight: 700;
}
input[type=reset], input[type=submit] {
    background-color: $light-primary-color;
}
textarea {
    resize: none;
}
input[type=email], input[type=text] {
    border: none;
    cursor: pointer;
    text-decoration: none;
}
.sr-js-legacy {
    & input[type=email], input[type=text], input[type=reset], input[type=submit], textarea {        
        margin: pow($scale, -1) * 16px 0;
        padding: pow($scale, -0.5) * 16px pow($scale, 0) * 16px;
    }
    & input[type=email], input[type=text] {
        border-bottom: pow($scale, -3) * 16px solid $dark-primary-color;
        &:focus {
            border: pow($scale, -2.5) * 16px solid $dark-primary-color !important;
            border-radius: pow($scale, -2) * 16px;
        }
    }
    & input[type=reset], input[type=submit] {
        border: pow($scale, -3) * 16px solid $dark-primary-color;
        border-radius: pow($scale, -2) * 16px;
        font-size: pow($scale, 0.5) * 16px;
    }
    & textarea {
        border: pow($scale, -2.5) * 16px solid $dark-primary-color;
        height: pow($scale, 3.5) * 16px;
    }
}
.sr-js-trendy {
    & input[type=email], input[type=text], input[type=reset], input[type=submit], textarea {
        margin: pow($scale, -1) * 1rem 0;
        padding: pow($scale, -0.5) * 1rem pow($scale, 0) * 1rem;
    }
    & input[type=email], input[type=text] {
        border-bottom: pow($scale, -3) * 1rem solid $dark-primary-color;
        &:focus {
            border: pow($scale, -2.5) * 1rem solid $dark-primary-color !important;
            border-radius: pow($scale, -2) * 1rem;
        }
    }
    & input[type=reset], input[type=submit] {
        border: pow($scale, -3) * 1rem solid $dark-primary-color;
        border-radius: pow($scale, -2) * 1rem;
        font-size: pow($scale, 0.5) * 1rem;
    }
    & textarea {
        border: pow($scale, -2.5) * 1rem solid $dark-primary-color;
        height: pow($scale, 3.5) * 1rem;
    }
}