.sr-js-legacy {
    header[role="banner"], section[role="main"], aside[role="complementary"], footer[role="contentinfo"] {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
    }
    header[role="banner"] {
        padding-bottom: pow($scale, 4) * 1%;
    }
    section[role="main"], aside[role="complementary"] {
        padding-bottom: pow($scale, 4) * 1%;
        padding-top: pow($scale, 4) * 1%;
    }
    footer[role="contentinfo"]  {
        padding-top: pow($scale, 4) * 1%;
    }
}
.sr-js-trendy {
    .site {
        display: grid;
        grid-row-gap: pow($scale, 0.5) * 1rem;
        @include media("<48em") {
            grid-template-areas:
                "header"
                "section"
                "aside"
                "footer";
            grid-template-columns: 100%;
        }
        @include media(">=48em") {
            grid-column-gap: pow($scale, 0.5) * 1rem;
            grid-template-rows: 100%;
        }
        @include media(">=48em", "<64em") {
            grid-template-areas:
                "header header"
                "section aside"
                "footer footer";
        }
        @include media(">=48em") {
            grid-template-columns: 1fr 1fr;
        }
        @include media(">=48em", "<64em") {
            grid-template-columns: 2fr 1fr;
        }
        @include media(">=64em") {
            grid-template-areas:
                "header header header"
                "section . aside"
                "footer footer footer";
        }
        @include media(">=64em", "<80em") {
            grid-template-columns: 2fr 0.25fr 1fr;
        }
        @include media(">=80em") {
            grid-template-columns: 3fr 0.25fr 1fr;
        }
        & header[role="banner"] {
            grid-area: header;
        }
        & section[role="main"] {
            grid-area: section;
        }
        & aside[role="complementary"] {
            grid-area: aside;
        }
        & footer[role="contentinfo"] {
            grid-area: footer;
        }
    }
    section[role="main"] {
        @include media("<48em") {
            padding-left: pow($scale, 11) * 1rem;
            padding-right: pow($scale, 11) * 1rem;
        }
        @include media(">=48em") {
            padding-left: pow($scale, 13) * 1rem;
        }
    }
    aside[role="complementary"] {
        @include media("<48em") {
            padding-left: pow($scale, 11) * 1rem;
            padding-right: pow($scale, 11) * 1rem;
        }
        @include media(">=48em") {
            padding-right: pow($scale, 13) * 1rem;
        }
        @include media(">=80em") {
            align-self: center;
        }
    }
    footer[role="contentinfo"] {
        @include media("<48em") {
            padding: 0 pow($scale, 11) * 1rem pow($scale, 11) * 1rem pow($scale, 11) * 1rem;
        }
        @include media(">=48em") {
            padding: 0 pow($scale, 13) * 1rem pow($scale, 13) * 1rem pow($scale, 13) * 1rem;
        }
    }
}