.sr-js-legacy {
    .site {
        margin: 0 pow($scale, 2.5) * 1% pow($scale, 2.5) * 1% pow($scale, 2.5) * 1%;
    }
}
.sr-js-trendy {
    .site {
        display: flex;
        flex-direction: column;
        margin-bottom: pow($scale, 0) * 1rem;
        &__header, &__content, &__footer {
            display: flex;
            flex: 1 0 auto;
            flex-wrap: wrap;
        }
        &__content, &__footer {
            @include media("<48em") {
                margin: auto pow($scale, -0.5) * 1rem;
            }
            @include media(">=48em") {
                margin: auto pow($scale, 0) * 1rem;
            }
        }
        &__header {
            @include media("<48em") {
                border-bottom: pow($scale, 0) * 1rem solid transparent;
            }
            @include media(">=48em") {
                border-bottom: pow($scale, 0.5) * 1rem solid transparent;
            }
            flex-direction: column;
        }
        &__content {
            @include media("<48em") {
                flex-direction: column;
            }
            @include media(">=48em") {
                flex-direction: row;
            }
            /* Ainsi obtenons-nous un Offset entre les colonnes sans aucun calcul. */
            @include media(">=64em") {
                justify-content: space-between;
            }
            &__primary {
                display: flex;
                @include media("<48em") {
                    border-bottom: pow($scale, -1) * 1rem solid transparent;
                }
                @include media(">=48em", "<64em") {
                    border-right: pow($scale, -1.5) * 1rem solid transparent;
                    flex-basis: 50%;
                }
                @include media(">=64em") {
                    border-right: pow($scale, -1) * 1rem solid transparent;
                    flex-basis: pow($scale, 6) * 1%;
                }
            }
            &__secondary {
                display: flex;
                flex-direction: column;
                @include media("<48em") {
                    border-top: pow($scale, -1) * 1rem solid transparent;
                }
                @include media(">=48em", "<64em") {
                    border-left: pow($scale, -1.5) * 1rem solid transparent;
                    flex-basis: 50%;
                }
                @include media(">=64em") {
                    border-left: pow($scale, -1) * 1rem solid transparent;
                }
                @include media(">=64em", "<80em") {
                    flex-basis: pow($scale, 5) * 1%;
                }
                @include media(">=80em") {
                    flex-basis: pow($scale, 4.5) * 1%;
                }
                /*&--home {
                    @include media(">=48em") {
                        justify-content: space-between;
                    } 
                }*/
                &--page {
                    @include media(">=48em") {
                        justify-content: center;
                    }
                }
            }
        }
        &__footer {
            @include media("<48em") {
                border-top: pow($scale, 0) * 1rem solid transparent;
            }
            @include media(">=48em") {
                border-top: pow($scale, 0.5) * 1rem solid transparent;
            }
            flex-direction: column;
        }
    }
}