html {
    line-height: 1;
}
body {
    margin: 0 !important;
    padding: 0 !important;
}
em, blockquote, cite {
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd  {
    font-size: 100%;
    font-weight: normal;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}
a {
    color: inherit;
    text-decoration: none;
}
img {
    height: auto;
    max-width: 100%;
}
figcaption, figure {
    display: block;
}
figure {
  margin: 0;
}
input[type=email]:focus, input[type=text]:focus, input[type=submit], textarea:focus {
    outline: none;
}
summary {
    list-style-type: none;
    &::-webkit-details-marker {
        display: none;
    }
}