*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    /* Les navigateurs gerent parfaitement les mots-clefs pour dimensionner les polices de caracteres. Nous aurions prefere les unités "vw" et "wh" mais Safari ne les gere pas correctement, par exemple au changement d'orientation. */
    font-size: medium;
    line-height: pow($scale, 0.5);
    &.sr-js-legacy {
        & body {
            margin: 0 auto !important;/* Pourquoi "important" ? */
            max-width: 64em;
        }
    }
    &.sr-js-trendy {
        @include media(">=64em", "<90em") {
            font-size: large;

        }
        @include media(">=90em") {
            font-size: x-large;
        }
    }
}
/* https://csswizardry.com/2012/06/single-direction-margin-declarations/ */
.sr-js-legacy {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, ul, ol, ul, ol, li, dl, dt, dd {
        margin-top: pow($scale, 0.5) * 16px;
    }
    h1, .h1 {
        font-size: pow($scale, 1.5) * 16px;
    }
    h2, .h2 {
        font-size: pow($scale, 1) * 16px;
    }
    h3, .h3 {
        font-size: pow($scale, 0.5) * 16px;
    }
    h4, .h4, h5, .h5, h6, .h6, p {
        font-size: pow($scale, 0) * 16px;
    }
    h5 {
        margin-left: pow($scale, 0.5) * 16px;
    }
    h6 {
        margin-left: pow($scale, 1) * 16px;
    }
    .site {
        &__content {
            & __primary {
                & ul, ol {
                    margin-left: pow($scale, 0.5) * 16px;
                }
                & ul ul, ol ol, ul ol, ol ul {
                    margin-left: pow($scale, 1) * 16px;
                }
            }
        }
    }
}
.sr-js-trendy {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, ul, ol, ul, ol, li, dl, dt, dd {
        margin-top: pow($scale, 0.5) * 1rem;
    }
    h1, .h1 {
        font-size: pow($scale, 1.5) * 1rem;
    }
    h2, .h2 {
        font-size: pow($scale, 1) * 1rem;
    }
    h3, .h3 {
        font-size: pow($scale, 0.5) * 1rem;
    }
    h4, .h4, h5, .h5, h6, .h6, p {
        font-size: pow($scale, 0) * 1rem;
    }
    h5 {
        margin-left: pow($scale, 0.5) * 1rem;
    }
    h6 {
        margin-left: pow($scale, 1) * 1rem;
    }
    .site {
        &__content {
            & __primary {
                & ul, ol {
                    margin-left: pow($scale, 0.5) * 1rem;
                }
                & ul ul, ol ol, ul ol, ol ul {
                    margin-left: pow($scale, 1) * 1rem;
                }
            }
        }
    }
}
/* https://developer.mozilla.org/fr/docs/Web/CSS/text-decoration-skip */
/* https://www.w3schools.com/css/css_link.asp */
a {
    font-weight: 700;
    text-decoration: none;
    &:hover {
        text-decoration-line: underline;
        text-decoration-skip: ink;
    }
    &.unlink {
        font-weight: normal;
    }
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    &::after {
        content: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/></svg>');
        display: inline-block;
        vertical-align: middle;
    }
    &:hover {
        text-decoration: none;
    }
}
.sr-js-legacy {
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        &::after {
            margin-left: pow($scale, -1) * 16px;
        }
    }
}
.sr-js-trendy {
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
        &::after {
            @include media("<48em") {
                margin-left: pow($scale, -1) * 1rem;
            }
            @include media(">=48em") {
                margin-left: pow($scale, -0.5) * 1rem;
            }
        }
    }
}
h4 {
    font-variant: small-caps;
}
dt {
    font-weight: 700;
}
/* http://typecast.com/images/uploads/modernscale.css */
body, caption, fieldset, input, legend, h1, h2, h3, h4, h5, h6, option, select, textarea, td, th {
    font-size-adjust: 0.5;
}
summary {
    cursor: pointer;
}
em, q {
    quotes: "\AB\202F" "\202F\BB" "\201C" "\201D" "\2018" "\2019";
}
em::before, q::before {
    content: open-quote;
}
em::after, q::after {
    content: close-quote;
}
.first-acronym {
    &::before {
        content: ""attr(title)" (";
        font-variant: normal;
    }
    &::after {
        content: ")";
    }
}
abbr[title] {
    border-bottom: none !important;
    font-variant: small-caps;
    text-decoration: none !important;
}
.site {
    &__content {
        &__primary {
            & li {
                list-style-type: square;
            }
            & ul li li {
                list-style-type: circle;
            }
            & ul li li li {
                list-style-type: disc;
            }
            & ol li {
                list-style-type: decimal;
            }
            & ol li li {
                list-style-type: upper-alpha;
            }
            & ol li li li {
                list-style-type: upper-roman;
            }
        }
    }
}
.sr-js-legacy {
    .site {
        &__content {
            &__primary {
                & li {
                    margin-left: pow($scale, 0) * 16px;
                }
            }
        }
    }
}
.sr-js-trendy {
    .site {
        &__content {
            &__primary {
                & li {
                    @include media("<48em") {
                        margin-left: pow($scale, -0.5) * 1rem;
                    }
                    @include media(">=48em") {
                        margin-left: pow($scale, 0) * 1rem;
                    }
                }
            }
        }
    }
}
/* Le mot-clef "important" est indispensable pour forcer la specificite, ainsi que l'usage du selecteur "element > element" pour les items de liste. */
address ul {
    list-style-type: none !important;
    margin-left: 0 !important;
    & > li {
        list-style-type: none !important;
        margin-left: 0;
    }
}