/*!
Theme Name: Sator Lqb
Theme URI: http://www.384400.xyz/
Author: Vincent Top-Roulet
Author URI: http://www.384400.xyz/
Description: Child Theme
Version: 1.0.0
Template: sator
*/

$scale: 2;

$font-family: 'Titillium Web', sans-serif;

$dark-primary-color: #ffa000;
$light-primary-color: #ffecb3;
$primary-color: #ffc107;
$text-icons: #212121;
$accent-color: #009688;
$primary-text: #212121;
$secondary-text: #757575;
$divider-color: #bdbdbd;

@import '../scss/glob';

html {
    font-family: $font-family;
    font-weight: 400;
}
.lang {
    display: none;
    visibility: hidden;
}
.sr-user-lang {
    &-fr .french {
        display: block;
        visibility: visible;
    }
    &-en .english {
        display: block;
        visibility: visible;
    }
}
a {
    color: $accent-color;
    &:hover {
        color: $dark-primary-color;
    }
    &.unlink {
        color: $primary-text;
    }
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6  {
    font-family: $font-family;
    font-weight: 700;
}
h1, .h1 {
    color: $dark-primary-color;
}
h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: $secondary-text;
}
p, ul, ol {
    color: $primary-text;
}
h1 [rel="home"] {
    color: $accent-color;
    font-family: 'Amaranth', sans-serif;
    font-weight: 700;
    margin-top: 0;
    &:hover {
        color: $accent-color;
        text-decoration-line: underline;
        text-decoration-skip: ink;
    }
    &::after {
        content: none;
    }
}
.sr-js-legacy {
    img {
        display: block;
        margin: pow($scale, 0.5) * 16px auto 0;
    }
}
/* Header */
.header {
    &__branding {
        background-color: $dark-primary-color;
        & img {
            border-radius: 50%;
        }
    }
    &__ads {
        & div {
            &:nth-child(2) {
                & .h4 {
                    margin-top: 0;
                }
                & li {
                    background-color: transparent;
                    border-radius: 50%;
                    & a {
                        &:hover {
                            color: $dark-primary-color;
                            text-decoration: none !important;
                        }
                    }
                }
            }
        }
    }
}
.sr-js-legacy {
    .header {
        &__outdated {
            border-bottom: pow($scale, -3) * 16px solid $primary-color;
            padding-bottom: pow($scale, 0) * 16px;
            text-align: center;
        }
        &__branding {
            text-align: center;
            & div {
                padding: pow($scale, 0.5) * 16px 0;
            }
        }
        &__ads {
            border: pow($scale, -1.5) * 16px solid $accent-color;
            border-radius: pow($scale, 1.5) * 16px;
            box-shadow: pow($scale, -2) * 16px pow($scale, -1) * 16px $accent-color;
            margin: pow($scale, 0.5) * 16px pow($scale, 3) * 1%;
            padding: pow($scale, 0.5) * 16px;
            text-align: center;
            & ul {
                & li {
                    display: inline-block;
                    margin-left: pow($scale, 0.5) * 16px;
                    margin-right: pow($scale, 0.5) * 16px;
                    & a {
                        line-height: pow($scale, 2) * 16px;
                        &:hover {
                            color: $dark-primary-color;
                            text-decoration: none !important;
                        }
                    }
                }
            }
            & div {
                &:nth-child(1) {
                    & img {
                        height: pow($scale, 3.5) * 16px;
                        width: pow($scale, 3.5) * 16px;
                    }
                }
                &:nth-child(2) {
                    & ul {
                        & li {
                            border: pow($scale, -3) * 16px solid $dark-primary-color;
                            height: pow($scale, 2) * 16px;
                            line-height: pow($scale, 2) * 16px;
                            margin-top: 0;
                            width: pow($scale, 2) * 16px;
                        }
                    }
                }
            }
        }
    }
}
.sr-js-trendy {
    .header {
        &__branding {
            align-items: center;
            background-color: $dark-primary-color;
            display: flex;
            @include media("<48em") {
                flex-direction: column;
                margin-bottom: pow($scale, 0) * 1rem;
                margin-top: pow($scale, 0) * 1rem;
                /*& h1 {
                    text-align: center;
                }*/
            }
            @include media(">=48em") {
                /*flex-grow: 1;*/
                justify-content: space-around;
            }
            & div {
                 padding: pow($scale, 0.5) * 1rem 0;
            }
        }
        &__ads {
            align-items: center;
            border: pow($scale, -1.5) * 1rem solid $accent-color;
            border-radius: pow($scale, 1.5) * 1rem;
            @include media("<48em") {
                box-shadow: pow($scale, -3) * 1rem pow($scale, -2) * 1rem $accent-color;
            }
            @include media(">=48em") {
                box-shadow: pow($scale, -2) * 1rem pow($scale, -1) * 1rem $accent-color;
            }
            display: flex;
            flex: 1 0 auto;
            @include media("<48em") {
                flex-direction: column;
            }
            margin-bottom: pow($scale, 0.5) * 1rem;
            @include media("<48em") {
                margin-left: pow($scale, 2.5) * 1%;
                margin-right: pow($scale, 2.5) * 1%;
            }
            @include media(">=48em") {
                margin-left: pow($scale, 3) * 1%;
                margin-right: pow($scale, 3) * 1%;
            }
            margin-top: pow($scale, 0.5) * 1rem;
            padding: pow($scale, 0.5) * 1rem;
            & div {
                flex: 1 0 auto;
                &:nth-child(1) {
                    & img {
                        height: pow($scale, 3.5) * 1rem;
                        width: pow($scale, 3.5) * 1rem;
                    }
                }
                &:nth-child(2) {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    & ul {
                        align-content: space-around;
                        display: flex;
                        justify-content: space-around;
                        width: 100%;
                        & li {
                            border: pow($scale, -3) * 1rem solid $dark-primary-color;
                            text-align: center;
                            @include media("<48em") {
                                height: pow($scale, 1.5) * 1rem;
                                line-height: pow($scale, 1.5) * 1rem;
                                width: pow($scale, 1.5) * 1rem;
                            }
                            @include media(">=48em") {
                                height: pow($scale, 2) * 1rem;
                                line-height: pow($scale, 2) * 1rem;
                                width: pow($scale, 2) * 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* Content */
/** Home **/
.entry {
    &__post {
        &__content {
            &__home {
                &__feature {
                    border-radius: pow($scale, 1.5) * 1% pow($scale, 1.5) * 1% pow($scale, 2.5) * 1% pow($scale, 2.5) * 1%;
                }
            }
        }
    }
}
.sr-js-legacy {
    .entry {
        &__post {
            &__content {
                &__home {
                    &__feature {
                        border-radius: pow($scale, 1.5) * 1% pow($scale, 1.5) * 1% pow($scale, 2.5) * 1% pow($scale, 2.5) * 1%;
                    }
                    &__gallery {
                        margin-top: pow($scale, 1) * 16px;
                    }
                }
            }
        }
    }
}
.sr-js-trendy {
    .entry {
        &__post {
            &__content {
                &__home {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    &__gallery {
                        display: flex;
                        @include media("<48em") {
                            align-items: center;
                            flex-direction: column;
                        }
                        margin-top: pow($scale, 1) * 1rem;
                        @include media(">=48em") {
                            align-content: space-around;
                        }
                        &--odd {
                            @include media(">=48em") {
                                justify-content: space-between;
                            }
                        }
                        &--even {
                            @include media(">=48em") {
                                justify-content: space-around;
                            }
                        }
                        & img {
                            @include media(">=80em") {
                                height: auto;
                            }
                            @include media(">=80em", "<160em") {
                                width: 20rem;
                            }
                            @include media(">=160em") {
                                width: 40rem;
                            }
                        }
                    }
                    &__visit {
                        display: flex;
                        align-items: center;
                        &__icon {
                            background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$dark-primary-color}" d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z"/></svg>');
                            background-repeat: no-repeat;
                            @include media("<48em") {
                                background-size: pow($scale, 1) * 1rem pow($scale, 1) * 1rem;
                            }
                            @include media(">=48em") {
                                background-size: pow($scale, 1.5) * 1rem pow($scale, 1.5) * 1rem;
                            }
                            border-bottom: pow($scale, -3) * 1rem solid $accent-color;
                            cursor: pointer;
                            @include media("<48em") {
                                height: pow($scale, 1) * 1rem;
                                width: pow($scale, 1) * 1rem;
                            }
                            @include media(">=48em") {
                                height: pow($scale, 1.5) * 1rem;
                                width: pow($scale, 1.5) * 1rem;
                            }
                        }
                        @include media("<48em") {
                            flex-direction: column;
                        }
                        &--odd {
                            @include media(">=48em") {
                                & div:nth-of-type(1) {
                                    order: 1;
                                }
                                & div:nth-of-type(2) {
                                    margin-left: pow($scale, 1) * 1rem;
                                    order: 2;
                                }
                            }
                        }
                        &--even {
                            @include media(">=48em") {
                                & div:nth-of-type(1) {
                                    order: 2;
                                }
                                & div:nth-of-type(2) {
                                    margin-right: pow($scale, 1) * 1rem;
                                    order: 1;
                                }
                            }
                        }
                    }
                    &__travel {
                        &__local {
                            display: flex;
                            div:nth-child(1), div:nth-child(3) {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                            }
                            div:nth-child(2) {
                                @include media("<48em") {
                                    border-left: pow($scale, 0) * 1rem solid transparent;
                                    border-right: pow($scale, 0) * 1rem solid transparent;
                                }
                                @include media(">48em") {
                                    border-left: pow($scale, 0.5) * 1rem solid transparent;
                                    border-right: pow($scale, 0.5) * 1rem solid transparent;
                                }
                            }
                        }
                        &__national {
                            align-items: center;
                            display: flex;
                            div:nth-child(2) {
                                @include media("<48em") {
                                    border-left: pow($scale, 0) * 1rem solid transparent;
                                    border-right: pow($scale, 0) * 1rem solid transparent;
                                }
                                @include media(">48em") {
                                    border-left: pow($scale, 0.5) * 1rem solid transparent;
                                    border-right: pow($scale, 0.5) * 1rem solid transparent;
                                }
                            }
                        }
                        &__road {
                            align-items: center;
                            display: flex;
                            flex-direction: column;
                        }
                        & svg {
                            fill: $dark-primary-color;
                            @include media("<48em") {
                                height: pow($scale, 0.5) * 1rem;
                                width: pow($scale, 0.5) * 1rem;
                            }
                            @include media(">=48em") {
                                height: pow($scale, 1) * 1rem;
                                width: pow($scale, 1) * 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
/** Navigation **/
.sr-js-trendy {
    body {
        position: relative; /* Ainsi le menu couvrira 100 % de la page. */
    }
    .site {
        &__navigation {
            &__menu {
                & summary {
                    background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$accent-color}" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>');
                    background-repeat: no-repeat;
                    @include media("<48em") {
                        background-size: pow($scale, 1) * 1rem pow($scale, 1) * 1rem;
                    }
                    @include media(">=48em") {
                        background-size: pow($scale, 1.5) * 1rem pow($scale, 1.5) * 1rem;
                    }
                    @include media("<48em") {
                        height: pow($scale, 1) * 1rem;
                        width: pow($scale, 1) * 1rem;
                    }
                    @include media(">=48em") {
                        height: pow($scale, 1.5) * 1rem;
                        width: pow($scale, 1.5) * 1rem;
                    }
                }
                &[open] {
                    background-color: $light-primary-color;
                    height: 100%;
                    position: absolute;
                    width: 100%;
                    z-index: 2; /* Ainsi la carte Google Maps sera-t-elle recouverte a l'ouverture du menu. */
                    & h2 {
                        color: $dark-primary-color;
                    }
                    & h2, ul {
                        margin-left: pow($scale, 1.5) * 1rem;
                    }
                    & li {
                        & a {
                            color: $secondary-text;
                            font-size: pow($scale, 0) * 1rem;
                            margin-top: pow($scale, 0.5) * 1rem;
                            text-decoration-skip: none;
                            &::before {
                                content: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$accent-color}" d="M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z"/></svg>');
                                display: inline-block;
                                @include media("<48em") {
                                    margin-right: pow($scale, 0) * 1rem;
                                }
                                @include media(">=48em") {
                                    margin-right: pow($scale, 0.5) * 1rem;
                                }
                                vertical-align: middle;
                            }
                            &:hover {
                                color: $dark-primary-color;
                                font-weight: 700;
                                text-decoration-skip: none;
                            }
                        }
                        &:first-of-type a {
                            margin-top: 0;
                        }
                    }
                    & summary {
                        background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$accent-color}" d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/></svg>');
                    }
                }
            }
        }
    }
}
/** Entry **/
.sr-js-legacy {
    .entry {
        &__post {
            &__content {
                &__flat {
                    & h3 {
                        margin-bottom: pow($scale, 1) * 16px;
                    }
                }
            }
        }
    }
}
.sr-js-trendy {
    .entry {
        &__post {
            &__content {
                &__flat {
                    & h3 {
                        margin-bottom: pow($scale, 1) * 1rem;
                    }
                }
            }
        }
    }
}

/* Footer */
/** Destinations **/
.sr-js-legacy {
    .site {
        &__content {
            &__distances {
                &__roadmap {
                    &__station {
                        &__item {
                            margin-top: pow($scale, 0.5) * 16px;
                            & span:nth-child(2) {
                                font-weight: 700;
                                &::after {
                                    content: "\2C\A0";
                                }
                            }
                            & span:last-child {
                                &::after {
                                    content: "\2E";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.sr-js-trendy {
    .site {
        &__content {
            &__distances {
                margin: pow($scale, 0.5) * 1rem 0;
                max-width: 100%;/* Necessaire pour Firefox 58 sous Android Nougat */
                &__roadmap {
                    width: inherit !important;
                    &::-webkit-scrollbar {
                        @include media("<48em") {
                            height: pow($scale, 0) * 1rem;
                            width: pow($scale, 0) * 1rem;
                        }
                        @include media(">=48em") {
                            height: pow($scale, 0.5) * 1rem;
                            width: pow($scale, 0.5) * 1rem;
                        }
                    }
                    &::-webkit-scrollbar-track {
                        background-color: $accent-color;
                        @include media("<48em") {
                            -webkit-border-radius: pow($scale, 0) * 1rem;
                            border-radius: pow($scale, 0) * 1rem;
                        }
                        @include media(">=48em") {
                            -webkit-border-radius: pow($scale, 0.5) * 1rem;
                            border-radius: pow($scale, 0.5) * 1rem;
                        }
                    }
                    &::-webkit-scrollbar-thumb {
                        background-color: $dark-primary-color;
                        @include media("<48em") {
                            -webkit-border-radius: pow($scale, 0) * 1rem;
                            border-radius: pow($scale, 0) * 1rem;
                        }
                        @include media(">=48em") {
                            -webkit-border-radius: pow($scale, 0.5) * 1rem;
                            border-radius: pow($scale, 0.5) * 1rem;
                        }
                    }
                    display: flex;
                    overflow-x: scroll;
                    overflow-y: hidden;
                    &__station {
                        display: flex;
                        &__item {
                            align-items: center;
                            display: flex;
                            @include media("<48em") {
                                flex: 0 0 pow($scale, 5.5) * 1%;
                            }
                            @include media(">=48em") {
                                flex: 0 0 pow($scale, 5) * 1%;
                            }
                            flex-direction: column;
                            @include media("<48em") {
                                margin-bottom: pow($scale, -2) * 1rem;
                            }
                            @include media(">=48em") {
                                margin-bottom: pow($scale, -1.5) * 1rem;
                            }
                            &__icon {
                                background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$primary-color}" d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></svg>');
                                background-repeat: no-repeat;
                                background-size: pow($scale, 2) * 1rem pow($scale, 2) * 1rem;
                                height: pow($scale, 2) * 1rem;
                                width: pow($scale, 2) * 1rem;
                            }
                            &:nth-child(1) {
                                align-self: center;
                                background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$accent-color}" d="M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7"/></svg>');
                                background-repeat: no-repeat;
                                background-size: pow($scale, 2.5) * 1rem pow($scale, 2.5) * 1rem;
                                height: pow($scale, 2.5) * 1rem;
                                width: pow($scale, 2.5) * 1rem;
                            }
                            & a {
                                font-weight: normal;
                                color: inherit;
                                &::after {
                                    content: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$accent-color}" d="M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z"/></svg>');
                                    display: inline-block;
                                    @include media("<48em") {
                                        margin-left: pow($scale, -1) * 1rem;
                                    }
                                    @include media(">=48em") {
                                        margin-left: pow($scale, -0.5) * 1rem;
                                    }
                                    vertical-align: middle;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/** Share **/
.footer {
    &__share {
        & svg {
            fill: $accent-color;
        }
    }
    &__info {
        &__sep {
            color: $primary-color;
        }
        &__totop {
            text-align: right;
        }
    }
}
.sr-js-legacy {
    .footer {
        &__share {
            text-align: center;
            & svg {
                height: pow($scale, 2.5) * 16px;
                width: pow($scale, 2.5) * 16px;
            }
        }
        &__info {
            &__copyright {
                & span::before {
                    color: $primary-color;
                    content: "\A9\A0";
                    font-weight: 700;
                    font-family: monospace;
                }
            }
        }
    }
}
.sr-js-trendy {
    .footer {
        &__share {
            display: flex;
            @include media("<48em") {
                justify-content: space-between;
            }
            @include media(">=48em") {
                justify-content: space-around;
            }
            & svg {
                @include media("<48em") {
                    height: pow($scale, 2) * 1rem;
                    width: pow($scale, 2) * 1rem;
                }
                @include media(">=48em") {
                    height: pow($scale, 2.5) * 1rem;
                    width: pow($scale, 2.5) * 1rem;
                }
            }
        }
        &__info {
            @include media("<48em") {
                text-align: center;
            }
            &__copyright {
                & span::before {
                    content: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$primary-color}" d="M10.08 10.86c.05-.33.16-.62.3-.87s.34-.46.59-.62c.24-.15.54-.22.91-.23.23.01.44.05.63.13.2.09.38.21.52.36s.25.33.34.53.13.42.14.64h1.79c-.02-.47-.11-.9-.28-1.29s-.4-.73-.7-1.01-.66-.5-1.08-.66-.88-.23-1.39-.23c-.65 0-1.22.11-1.7.34s-.88.53-1.2.92-.56.84-.71 1.36S8 11.29 8 11.87v.27c0 .58.08 1.12.23 1.64s.39.97.71 1.35.72.69 1.2.91 1.05.34 1.7.34c.47 0 .91-.08 1.32-.23s.77-.36 1.08-.63.56-.58.74-.94.29-.74.3-1.15h-1.79c-.01.21-.06.4-.15.58s-.21.33-.36.46-.32.23-.52.3c-.19.07-.39.09-.6.1-.36-.01-.66-.08-.89-.23-.25-.16-.45-.37-.59-.62s-.25-.55-.3-.88-.08-.67-.08-1v-.27c0-.35.03-.68.08-1.01zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>');
                    display: inline-block;
                    margin-right: pow($scale, -3) * 1rem;
                    vertical-align: middle;
                }
            }
            &__totop {
                & svg {
                    fill: $primary-color;
                    @include media("<48em") {
                        height: pow($scale, 1.5) * 1rem;
                        width: pow($scale, 1.5) * 1rem;
                    }
                    @include media(">=48em") {
                        height: pow($scale, 2) * 1rem;
                        width: pow($scale, 2) * 1rem;
                    }
                }
            }
        }
    }
}
/* Appendix */
.sr-js-legacy {
    .site {
        &__appendix {
            margin-top: pow($scale, 0.5) * 16px;
            & img {
                display: block;
                margin: auto;
            }
        }
    }
}
.sr-js-trendy {
    .site {
        &__appendix {
            margin-top: pow($scale, 0.5) * 1rem;
        }
    }
}
/* Plugins */
/** Sator Contact Form **/
.entry {
    &__post {
        &__content {
            &__form {
                & p {
                    & label {
                        background-color: $accent-color;
                        color: $dark-primary-color;
                        font-weight: 700;
                    }
                }
                &__check {
                    font-weight: 700;
                }
                &__response {
                    & p {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
.sr-js-legacy {
    .entry {
        &__post {
            &__content {
                &__form {
                    & p {
                        & label {
                            padding: 0 pow($scale, 1) * 16px;
                        }
                    }
                    &__check {
                        & p {
                            color: $primary-color;
                        }
                    }
                    &__response {
                        &__loader {
                            color: $primary-color;
                            font-size: pow($scale, 1.5) * 16px;
                            font-weight: 700;
                            margin: pow($scale, 1.5) * 16px auto;
                        }
                        &__process {
                            /* Nous ne parvenons a factoriser la declaration de la bordure en ne declarant sa couleur que dans les deux "modifier". */
                            margin: pow($scale, 1) * 1% pow($scale, 3) * 1%;
                            padding: pow($scale, 0) * 16px;
                            text-align: center;
                            &--success {
                                border: pow($scale, -1.5) * 16px solid $accent-color;
                                border-radius: pow($scale, 1.5) * 16px;
                                color : $accent-color;
                            }
                            &--error {
                                border: pow($scale, -1.5) * 16px solid $primary-color;
                                border-radius: pow($scale, 1.5) * 16px;
                                color : $primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}
.sr-js-trendy {
    .entry {
        &__post {
            &__content {
                &__form {
                    & p {
                        & label {
                            @include media("<48em") {
                                padding: 0 pow($scale, 0.5) * 1rem;
                            }
                            @include media(">=48em") {
                                padding: 0 pow($scale, 1) * 1rem;
                            }
                        }
                    }
                    &__check {
                        p::before {
                            content: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$primary-color}" d="M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"/></svg>');
                            display: inline-block;
                            @include media("<48em") {
                                margin-right: pow($scale, -0.5) * 1rem;
                            }
                            @include media(">=48em") {
                                margin-right: pow($scale, 0) * 1rem;
                            }
                            vertical-align: middle;
                        }
                    }
                    &__response {
                        &__spinner {
                            animation: rotator 1.4s linear infinite;
                            display: block;
                            height: pow($scale, 2) * 1rem;
                            @include media("<48em") {
                                margin: pow($scale, 1.5) * 1rem auto;
                            }
                            @include media(">=48em") {
                                margin: pow($scale, 2.5) * 1rem auto;
                            }
                            width: pow($scale, 2) * 1rem;
                            &--path {
                                animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
                                stroke-dasharray: 187;
                                stroke-dashoffset: 0;
                                transform-origin: center;
                            }
                        }
                        &__process {
                            align-items: center;
                            display: flex;
                            @include media("<48em") {
                                flex-direction: column;
                            }
                            @include media(">=48em") {
                                justify-content: center;
                            }
                            & div:nth-child(1) {
                                @include media("<48em") {
                                    border-bottom: pow($scale, 0) * 1rem solid transparent;
                                }
                                @include media(">=48em") {
                                    border-right: pow($scale, 0.5) * 1rem solid transparent;
                                }
                                background-repeat: no-repeat;
                                @include media("<48em") {
                                    background-size: pow($scale, 2) * 1rem pow($scale, 2) * 1rem;
                                    height: pow($scale, 2) * 1rem;
                                    width: pow($scale, 2) * 1rem;
                                }
                                @include media(">=48em") {
                                    background-size: pow($scale, 2.5) * 1rem pow($scale, 2.5) * 1rem;
                                    height: pow($scale, 2.5) * 1rem;
                                    width: pow($scale, 2.5) * 1rem;
                                }
                            }
                            & div:nth-child(2) {
                                @include media("<48em") {
                                    border-top: pow($scale, 0) * 1rem solid transparent;
                                }
                                @include media(">=48em") {
                                    border-left: pow($scale, 0.5) * 1rem solid transparent;
                                }
                            }
                            &--success {
                                background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$primary-color}" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>');
                            }
                            &--error {
                                background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$accent-color}" d="M9 1.03c-4.42 0-8 3.58-8 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zM10 13H8v-2h2v2zm0-3H8V5h2v5z"/></svg>');
                            }
                        }
                    }
                }
            }
        }
    }
}
@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}
@keyframes colors {
    0% {
        stroke: $dark-primary-color;
    }
    25% {
        stroke: $primary-color;
    }
    50% {
        stroke: $light-primary-color;
    }
    75% {
        stroke: $accent-color;
    }
    100% {
        stroke: $dark-primary-color;
    }
}
@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }
    50% {
        stroke-dashoffset: 46.75;
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: 187;
        transform: rotate(450deg);
    }
}
/** Sator Legal **/
.site {
    &__entry {
        &__post {
            &__content {
                /*ul {
                    list-style-type: none !important;
                    margin-left: 0 !important;
                }*/
            }
        }
    }
    &__content {
        &__legal {
            text-align: center;
        }
    }
}
.sr-js-legacy {
    .site {
        &__content {
            &__legal {
                border: pow($scale, -1.5) * 16px solid $primary-color;
                border-radius: pow($scale, 1.5) * 16px;
                box-shadow: pow($scale, -2) * 16px pow($scale, -1) * 16px $primary-color;
                margin: pow($scale, 2) * 1% pow($scale, 3) * 1%;
                padding: pow($scale, 0) * 16px;
            }
        }
    }
}
.sr-js-trendy {
    .site {
        &__content {
            &__legal {
                border: pow($scale, -1.5) * 1rem solid $primary-color;
                border-radius: pow($scale, 1.5) * 1rem;
                @include media("<48em") {
                    box-shadow: pow($scale, -3) * 1rem pow($scale, -1) * 1rem $primary-color;
                }
                @include media(">=48em") {
                    box-shadow: pow($scale, -2) * 1rem pow($scale, -1) * 1rem $primary-color;
                }
                margin-bottom : pow($scale, 1) * 1rem;
                @include media("<48em") {
                    margin-left: pow($scale, 2.5) * 1%;
                    margin-right: pow($scale, 2.5) * 1%;
                }
                @include media(">=48em") {
                    margin-left: pow($scale, 3) * 1%;
                    margin-right: pow($scale, 3) * 1%;
                }
                margin-top : pow($scale, 1) * 1rem;
                padding: pow($scale, 0) * 1rem;
            }
        }
    }
}
/** Sator Galleries **/
.sr-js-legacy {
    .entry {
        &__post {
            &__content {
                &__gallery {
                    & details {
                        & summary {
                            cursor: default;
                            pointer-events: none;
                            & img {
                                margin-top: pow($scale, 0.5) * 16px;
                            }
                        }
                    }
                    &__lightbox {
                        display: none;
                    }
                    margin-top: pow($scale, 1) * 16px;
                }
            }
        }
    }
}
.sr-js-trendy {
    .entry {
        &__post {
            &__content {
                &__flat {
                    &__gallery {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-around;
                        & details {
                            & summary {
                                & img {
                                    @include media(">=80em") {
                                        height: auto;
                                    }
                                    margin-top: pow($scale, 0.5) * 1rem;
                                    @include media(">=80em", "<160em") {
                                        width: 20rem;
                                    }
                                    @include media(">=160em") {
                                        width: 40rem;
                                    }
                                }
                            }
                            &[open] {
                                & summary {
                                    background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$accent-color}" d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>');
                                    background-size: pow($scale, 1.5) * 1rem pow($scale, 1.5) * 1rem;
                                    background-repeat: no-repeat;
                                    height: pow($scale, 1.5) * 1rem;
                                    left: 0;
                                    position: fixed;
                                    top: 0;
                                    width: pow($scale, 1.5) * 1rem;
                                    z-index: 2;
                                    & img {
                                        display: none;
                                    }
                                }
                            }
                        }
                        &__lightbox {
                            align-content: center;
                            align-items: center;
                            background-color: $secondary-text;
                            display: flex;
                            height: 100vh;
                            left: 0;
                            position: fixed;
                            top: 0;
                            width: 100vw;
                        }
                        margin-top: pow($scale, 1) * 1rem;
                    }
                }
            }
        }
    }
}
/** Sator Google Maps **/
.sy-no-js {
    .entry {
        &__post {
            &__content {
                &__home {
                    &__map {
                        &__display {
                            height: none;
                            visibility: hidden;
                        }
                        &__failback {
                            display: none;
                            visibility: hidden;
                        }
                        &__gps {
                              p::before {
                                content: "\2B8E\2009";
                            }
                        }
                    }
                }
            }
        }
    }
}
.sr-js-legacy {
    .entry {
        &__post {
            &__content {
                &__home {
                    &__map {
                        &__display {
                            display: none;
                            visibility: hidden;
                        }
                        &__failback {
                            display: block;
                        }
                        &__gps {
                              p::before {
                                content: "\2B8E\2009";
                            }
                        }
                    }
                }
            }
        }
    }
}
.sr-js-trendy {
    .entry {
        &__post {
            &__content {
                &__home {
                    &__map {
                        &__display {
                            margin-bottom: pow($scale, 0.5) * 1rem;
                            margin-top: pow($scale, 0.5) * 1rem;
                            height: 50vh;
                            width: 100%;
                        }
                        &__failback {
                            display: none;
                            visibility: hidden;
                        }
                        &__gps {
                            p::before {
                                content: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#{$primary-color}" d="M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></svg>');
                                display: inline-block;
                                @include media("<48em") {
                                    margin-right: pow($scale, -0.5) * 1rem;
                                }
                                @include media(">=48em") {
                                    margin-right: pow($scale, 0) * 1rem;
                                }
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}