@charset "UTF-8";
/*!
Theme Name: Sator Lqb
Theme URI: http://www.384400.xyz/
Author: Vincent Top-Roulet
Author URI: http://www.384400.xyz/
Description: Child Theme
Version: 1.0.0
Template: sator
*/
/* https://css-tricks.com/snippets/sass/power-function/ */
html {
  line-height: 1; }

body {
  margin: 0 !important;
  padding: 0 !important; }

em, blockquote, cite {
  font-style: normal; }

h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {
  font-size: 100%;
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  height: auto;
  max-width: 100%; }

figcaption, figure {
  display: block; }

figure {
  margin: 0; }

input[type=email]:focus, input[type=text]:focus, input[type=submit], textarea:focus {
  outline: none; }

summary {
  list-style-type: none; }
  summary::-webkit-details-marker {
    display: none; }

.sr-js-legacy .site {
  margin: 0 5.65685% 5.65685% 5.65685%; }

.sr-js-trendy .site {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem; }
  .sr-js-trendy .site__header, .sr-js-trendy .site__content, .sr-js-trendy .site__footer {
    display: flex;
    flex: 1 0 auto;
    flex-wrap: wrap; }
  @media (max-width: 47.99em) {
    .sr-js-trendy .site__content, .sr-js-trendy .site__footer {
      margin: auto 0.70711rem; } }
  @media (min-width: 48em) {
    .sr-js-trendy .site__content, .sr-js-trendy .site__footer {
      margin: auto 1rem; } }
  .sr-js-trendy .site__header {
    flex-direction: column; }
    @media (max-width: 47.99em) {
      .sr-js-trendy .site__header {
        border-bottom: 1rem solid transparent; } }
    @media (min-width: 48em) {
      .sr-js-trendy .site__header {
        border-bottom: 1.41421rem solid transparent; } }
  .sr-js-trendy .site__content {
    /* Ainsi obtenons-nous un Offset entre les colonnes sans aucun calcul. */ }
    @media (max-width: 47.99em) {
      .sr-js-trendy .site__content {
        flex-direction: column; } }
    @media (min-width: 48em) {
      .sr-js-trendy .site__content {
        flex-direction: row; } }
    @media (min-width: 64em) {
      .sr-js-trendy .site__content {
        justify-content: space-between; } }
    .sr-js-trendy .site__content__primary {
      display: flex; }
      @media (max-width: 47.99em) {
        .sr-js-trendy .site__content__primary {
          border-bottom: 0.5rem solid transparent; } }

@media (min-width: 48em) and (max-width: 63.99em) {
  .sr-js-trendy .site__content__primary {
    border-right: 0.35355rem solid transparent;
    flex-basis: 50%; } }
      @media (min-width: 64em) {
        .sr-js-trendy .site__content__primary {
          border-right: 0.5rem solid transparent;
          flex-basis: 64%; } }
    .sr-js-trendy .site__content__secondary {
      display: flex;
      flex-direction: column;
      /*&--home {
                    @include media(">=48em") {
                        justify-content: space-between;
                    } 
                }*/ }
      @media (max-width: 47.99em) {
        .sr-js-trendy .site__content__secondary {
          border-top: 0.5rem solid transparent; } }

@media (min-width: 48em) and (max-width: 63.99em) {
  .sr-js-trendy .site__content__secondary {
    border-left: 0.35355rem solid transparent;
    flex-basis: 50%; } }
      @media (min-width: 64em) {
        .sr-js-trendy .site__content__secondary {
          border-left: 0.5rem solid transparent; } }

@media (min-width: 64em) and (max-width: 79.99em) {
  .sr-js-trendy .site__content__secondary {
    flex-basis: 32%; } }
      @media (min-width: 80em) {
        .sr-js-trendy .site__content__secondary {
          flex-basis: 22.62742%; } }
      @media (min-width: 48em) {
        .sr-js-trendy .site__content__secondary--page {
          justify-content: center; } }
  .sr-js-trendy .site__footer {
    flex-direction: column; }
    @media (max-width: 47.99em) {
      .sr-js-trendy .site__footer {
        border-top: 1rem solid transparent; } }
    @media (min-width: 48em) {
      .sr-js-trendy .site__footer {
        border-top: 1.41421rem solid transparent; } }

*, *::before, *::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  /* Les navigateurs gerent parfaitement les mots-clefs pour dimensionner les polices de caracteres. Nous aurions prefere les unités "vw" et "wh" mais Safari ne les gere pas correctement, par exemple au changement d'orientation. */
  font-size: medium;
  line-height: 1.41421; }
  html.sr-js-legacy body {
    margin: 0 auto !important;
    /* Pourquoi "important" ? */
    max-width: 64em; }

@media (min-width: 64em) and (max-width: 89.99em) {
  html.sr-js-trendy {
    font-size: large; } }
  @media (min-width: 90em) {
    html.sr-js-trendy {
      font-size: x-large; } }

/* https://csswizardry.com/2012/06/single-direction-margin-declarations/ */
.sr-js-legacy h1, .sr-js-legacy .h1, .sr-js-legacy h2, .sr-js-legacy .h2, .sr-js-legacy h3, .sr-js-legacy .h3, .sr-js-legacy h4, .sr-js-legacy .h4, .sr-js-legacy h5, .sr-js-legacy .h5, .sr-js-legacy h6, .sr-js-legacy .h6, .sr-js-legacy p, .sr-js-legacy ul, .sr-js-legacy ol, .sr-js-legacy ul, .sr-js-legacy ol, .sr-js-legacy li, .sr-js-legacy dl, .sr-js-legacy dt, .sr-js-legacy dd {
  margin-top: 22.62742px; }

.sr-js-legacy h1, .sr-js-legacy .h1 {
  font-size: 45.25483px; }

.sr-js-legacy h2, .sr-js-legacy .h2 {
  font-size: 32px; }

.sr-js-legacy h3, .sr-js-legacy .h3 {
  font-size: 22.62742px; }

.sr-js-legacy h4, .sr-js-legacy .h4, .sr-js-legacy h5, .sr-js-legacy .h5, .sr-js-legacy h6, .sr-js-legacy .h6, .sr-js-legacy p {
  font-size: 16px; }

.sr-js-legacy h5 {
  margin-left: 22.62742px; }

.sr-js-legacy h6 {
  margin-left: 32px; }

.sr-js-legacy .site__content __primary ul, .sr-js-legacy .site__content __primary ol {
  margin-left: 22.62742px; }

.sr-js-legacy .site__content __primary ul ul, .sr-js-legacy .site__content __primary ol ol, .sr-js-legacy .site__content __primary ul ol, .sr-js-legacy .site__content __primary ol ul {
  margin-left: 32px; }

.sr-js-trendy h1, .sr-js-trendy .h1, .sr-js-trendy h2, .sr-js-trendy .h2, .sr-js-trendy h3, .sr-js-trendy .h3, .sr-js-trendy h4, .sr-js-trendy .h4, .sr-js-trendy h5, .sr-js-trendy .h5, .sr-js-trendy h6, .sr-js-trendy .h6, .sr-js-trendy p, .sr-js-trendy ul, .sr-js-trendy ol, .sr-js-trendy ul, .sr-js-trendy ol, .sr-js-trendy li, .sr-js-trendy dl, .sr-js-trendy dt, .sr-js-trendy dd {
  margin-top: 1.41421rem; }

.sr-js-trendy h1, .sr-js-trendy .h1 {
  font-size: 2.82843rem; }

.sr-js-trendy h2, .sr-js-trendy .h2 {
  font-size: 2rem; }

.sr-js-trendy h3, .sr-js-trendy .h3 {
  font-size: 1.41421rem; }

.sr-js-trendy h4, .sr-js-trendy .h4, .sr-js-trendy h5, .sr-js-trendy .h5, .sr-js-trendy h6, .sr-js-trendy .h6, .sr-js-trendy p {
  font-size: 1rem; }

.sr-js-trendy h5 {
  margin-left: 1.41421rem; }

.sr-js-trendy h6 {
  margin-left: 2rem; }

.sr-js-trendy .site__content __primary ul, .sr-js-trendy .site__content __primary ol {
  margin-left: 1.41421rem; }

.sr-js-trendy .site__content __primary ul ul, .sr-js-trendy .site__content __primary ol ol, .sr-js-trendy .site__content __primary ul ol, .sr-js-trendy .site__content __primary ol ul {
  margin-left: 2rem; }

/* https://developer.mozilla.org/fr/docs/Web/CSS/text-decoration-skip */
/* https://www.w3schools.com/css/css_link.asp */
a {
  font-weight: 700;
  text-decoration: none; }
  a:hover {
    text-decoration-line: underline;
    text-decoration-skip: ink; }
  a.unlink {
    font-weight: normal; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit; }
  h1 a::after, h2 a::after, h3 a::after, h4 a::after, h5 a::after, h6 a::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z'/%3E%3C/svg%3E");
    display: inline-block;
    vertical-align: middle; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    text-decoration: none; }

.sr-js-legacy h1 a::after, .sr-js-legacy h2 a::after, .sr-js-legacy h3 a::after, .sr-js-legacy h4 a::after, .sr-js-legacy h5 a::after, .sr-js-legacy h6 a::after {
  margin-left: 8px; }

@media (max-width: 47.99em) {
  .sr-js-trendy h1 a::after, .sr-js-trendy h2 a::after, .sr-js-trendy h3 a::after, .sr-js-trendy h4 a::after, .sr-js-trendy h5 a::after, .sr-js-trendy h6 a::after {
    margin-left: 0.5rem; } }

@media (min-width: 48em) {
  .sr-js-trendy h1 a::after, .sr-js-trendy h2 a::after, .sr-js-trendy h3 a::after, .sr-js-trendy h4 a::after, .sr-js-trendy h5 a::after, .sr-js-trendy h6 a::after {
    margin-left: 0.70711rem; } }

h4 {
  font-variant: small-caps; }

dt {
  font-weight: 700; }

/* http://typecast.com/images/uploads/modernscale.css */
body, caption, fieldset, input, legend, h1, h2, h3, h4, h5, h6, option, select, textarea, td, th {
  font-size-adjust: 0.5; }

summary {
  cursor: pointer; }

em, q {
  quotes: "\AB\202F" "\202F\BB" "\201C" "\201D" "\2018" "\2019"; }

em::before, q::before {
  content: open-quote; }

em::after, q::after {
  content: close-quote; }

.first-acronym::before {
  content: "" attr(title) " (";
  font-variant: normal; }

.first-acronym::after {
  content: ")"; }

abbr[title] {
  border-bottom: none !important;
  font-variant: small-caps;
  text-decoration: none !important; }

.site__content__primary li {
  list-style-type: square; }

.site__content__primary ul li li {
  list-style-type: circle; }

.site__content__primary ul li li li {
  list-style-type: disc; }

.site__content__primary ol li {
  list-style-type: decimal; }

.site__content__primary ol li li {
  list-style-type: upper-alpha; }

.site__content__primary ol li li li {
  list-style-type: upper-roman; }

.sr-js-legacy .site__content__primary li {
  margin-left: 16px; }

@media (max-width: 47.99em) {
  .sr-js-trendy .site__content__primary li {
    margin-left: 0.70711rem; } }

@media (min-width: 48em) {
  .sr-js-trendy .site__content__primary li {
    margin-left: 1rem; } }

/* Le mot-clef "important" est indispensable pour forcer la specificite, ainsi que l'usage du selecteur "element > element" pour les items de liste. */
address ul {
  list-style-type: none !important;
  margin-left: 0 !important; }
  address ul > li {
    list-style-type: none !important;
    margin-left: 0; }

textarea {
  background-color: #fff; }

input[type=email], input[type=text], input[type=reset], input[type=submit], textarea {
  width: 100%; }

input[type=email], input[type=text], input[type=reset], input[type=submit] {
  color: #009688;
  font-weight: 700; }

input[type=reset], input[type=submit] {
  background-color: #ffecb3; }

textarea {
  resize: none; }

input[type=email], input[type=text] {
  border: none;
  cursor: pointer;
  text-decoration: none; }

.sr-js-legacy input[type=email], .sr-js-legacy input[type=text], .sr-js-legacy input[type=reset], .sr-js-legacy input[type=submit], .sr-js-legacy textarea {
  margin: 8px 0;
  padding: 11.31371px 16px; }

.sr-js-legacy input[type=email], .sr-js-legacy input[type=text] {
  border-bottom: 2px solid #ffa000; }
  .sr-js-legacy input[type=email]:focus, .sr-js-legacy input[type=text]:focus {
    border: 2.82843px solid #ffa000 !important;
    border-radius: 4px; }

.sr-js-legacy input[type=reset], .sr-js-legacy input[type=submit] {
  border: 2px solid #ffa000;
  border-radius: 4px;
  font-size: 22.62742px; }

.sr-js-legacy textarea {
  border: 2.82843px solid #ffa000;
  height: 181.01933px; }

.sr-js-trendy input[type=email], .sr-js-trendy input[type=text], .sr-js-trendy input[type=reset], .sr-js-trendy input[type=submit], .sr-js-trendy textarea {
  margin: 0.5rem 0;
  padding: 0.70711rem 1rem; }

.sr-js-trendy input[type=email], .sr-js-trendy input[type=text] {
  border-bottom: 0.125rem solid #ffa000; }
  .sr-js-trendy input[type=email]:focus, .sr-js-trendy input[type=text]:focus {
    border: 0.17678rem solid #ffa000 !important;
    border-radius: 0.25rem; }

.sr-js-trendy input[type=reset], .sr-js-trendy input[type=submit] {
  border: 0.125rem solid #ffa000;
  border-radius: 0.25rem;
  font-size: 1.41421rem; }

.sr-js-trendy textarea {
  border: 0.17678rem solid #ffa000;
  height: 11.31371rem; }

/* https://acss.io/reference */
.db {
  display: block; }

.df {
  display: flex; }

.dn {
  display: none; }

.tac {
  text-align: center; }

.vh {
  visibility: hidden; }

.sr-js-legacy .legacy-db {
  display: block; }

.sr-js-legacy .legacy-dn {
  display: none; }

.sr-js-legacy .legacy-tac {
  text-align: center; }

.sr-js-legacy .legacy-vh {
  visibility: hidden; }

.sr-js-trendy .trendy-db {
  display: block; }

.sr-js-trendy .trendy-dn {
  display: none; }

.sr-js-trendy .trendy-tac {
  text-align: center; }

.sr-js-trendy .trendy-vh {
  visibility: hidden; }

/* Le mot-clef "important" est indispensable pour forcer la specificite, ainsi que l'usage du selecteur "element > element" pour les items de liste. */
.list-ml0 {
  margin-left: 0 !important; }

.list-n > li {
  list-style-type: none !important; }

.grow {
  transition: all .2s ease-in-out; }
  .grow:hover {
    transform: scale(1.1);
    transform-origin: 0 0; }

/* https://github.com/Automattic/_s/blob/master/sass/modules/_accessibility.scss */
/* https://make.wordpress.org/accessibility/2015/02/09/hiding-text-for-screen-readers-with-wordpress-core/ */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; }
  .screen-reader-text:focus {
    background-color: #eee;
    clip: auto !important;
    clip-path: none;
    color: #444;
    display: block;
    font-size: 1em;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; }

#content[tabindex="-1"]:focus {
  outline: 0; }

html {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400; }

.lang {
  display: none;
  visibility: hidden; }

.sr-user-lang-fr .french {
  display: block;
  visibility: visible; }

.sr-user-lang-en .english {
  display: block;
  visibility: visible; }

a {
  color: #009688; }
  a:hover {
    color: #ffa000; }
  a.unlink {
    color: #212121; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700; }

h1, .h1 {
  color: #ffa000; }

h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: #757575; }

p, ul, ol {
  color: #212121; }

h1 [rel="home"] {
  color: #009688;
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  margin-top: 0; }
  h1 [rel="home"]:hover {
    color: #009688;
    text-decoration-line: underline;
    text-decoration-skip: ink; }
  h1 [rel="home"]::after {
    content: none; }

.sr-js-legacy img {
  display: block;
  margin: 22.62742px auto 0; }

/* Header */
.header__branding {
  background-color: #ffa000; }
  .header__branding img {
    border-radius: 50%; }

.header__ads div:nth-child(2) .h4 {
  margin-top: 0; }

.header__ads div:nth-child(2) li {
  background-color: transparent;
  border-radius: 50%; }
  .header__ads div:nth-child(2) li a:hover {
    color: #ffa000;
    text-decoration: none !important; }

.sr-js-legacy .header__outdated {
  border-bottom: 2px solid #ffc107;
  padding-bottom: 16px;
  text-align: center; }

.sr-js-legacy .header__branding {
  text-align: center; }
  .sr-js-legacy .header__branding div {
    padding: 22.62742px 0; }

.sr-js-legacy .header__ads {
  border: 5.65685px solid #009688;
  border-radius: 45.25483px;
  box-shadow: 4px 8px #009688;
  margin: 22.62742px 8%;
  padding: 22.62742px;
  text-align: center; }
  .sr-js-legacy .header__ads ul li {
    display: inline-block;
    margin-left: 22.62742px;
    margin-right: 22.62742px; }
    .sr-js-legacy .header__ads ul li a {
      line-height: 64px; }
      .sr-js-legacy .header__ads ul li a:hover {
        color: #ffa000;
        text-decoration: none !important; }
  .sr-js-legacy .header__ads div:nth-child(1) img {
    height: 181.01933px;
    width: 181.01933px; }
  .sr-js-legacy .header__ads div:nth-child(2) ul li {
    border: 2px solid #ffa000;
    height: 64px;
    line-height: 64px;
    width: 64px;
    margin-top: 0; }

.sr-js-trendy .header__branding {
  align-items: center;
  background-color: #ffa000;
  display: flex; }
  @media (max-width: 47.99em) {
    .sr-js-trendy .header__branding {
      flex-direction: column;
      margin-bottom: 1rem;
      margin-top: 1rem;
      /*& h1 {
                    text-align: center;
                }*/ } }
  @media (min-width: 48em) {
    .sr-js-trendy .header__branding {
      /*flex-grow: 1;*/
      justify-content: space-around; } }
  .sr-js-trendy .header__branding div {
    padding: 1.41421rem 0; }

.sr-js-trendy .header__ads {
  align-items: center;
  border: 0.35355rem solid #009688;
  border-radius: 2.82843rem;
  display: flex;
  flex: 1 0 auto;
  margin-bottom: 1.41421rem;
  margin-top: 1.41421rem;
  padding: 1.41421rem; }
  @media (max-width: 47.99em) {
    .sr-js-trendy .header__ads {
      box-shadow: 0.125rem 0.25rem #009688; } }
  @media (min-width: 48em) {
    .sr-js-trendy .header__ads {
      box-shadow: 0.25rem 0.5rem #009688; } }
  @media (max-width: 47.99em) {
    .sr-js-trendy .header__ads {
      flex-direction: column; } }
  @media (max-width: 47.99em) {
    .sr-js-trendy .header__ads {
      margin-left: 5.65685%;
      margin-right: 5.65685%; } }
  @media (min-width: 48em) {
    .sr-js-trendy .header__ads {
      margin-left: 8%;
      margin-right: 8%; } }
  .sr-js-trendy .header__ads div {
    flex: 1 0 auto; }
    .sr-js-trendy .header__ads div:nth-child(1) img {
      height: 11.31371rem;
      width: 11.31371rem; }
    .sr-js-trendy .header__ads div:nth-child(2) {
      align-items: center;
      display: flex;
      flex-direction: column; }
      .sr-js-trendy .header__ads div:nth-child(2) ul {
        align-content: space-around;
        display: flex;
        justify-content: space-around;
        width: 100%; }
        .sr-js-trendy .header__ads div:nth-child(2) ul li {
          border: 0.125rem solid #ffa000;
          text-align: center; }
          @media (max-width: 47.99em) {
            .sr-js-trendy .header__ads div:nth-child(2) ul li {
              height: 2.82843rem;
              line-height: 2.82843rem;
              width: 2.82843rem; } }
          @media (min-width: 48em) {
            .sr-js-trendy .header__ads div:nth-child(2) ul li {
              height: 4rem;
              line-height: 4rem;
              width: 4rem; } }

/* Content */
/** Home **/
.entry__post__content__home__feature {
  border-radius: 2.82843% 2.82843% 5.65685% 5.65685%; }

.sr-js-legacy .entry__post__content__home__feature {
  border-radius: 2.82843% 2.82843% 5.65685% 5.65685%; }

.sr-js-legacy .entry__post__content__home__gallery {
  margin-top: 32px; }

.sr-js-trendy .entry__post__content__home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .sr-js-trendy .entry__post__content__home__gallery {
    display: flex;
    margin-top: 2rem; }
    @media (max-width: 47.99em) {
      .sr-js-trendy .entry__post__content__home__gallery {
        align-items: center;
        flex-direction: column; } }
    @media (min-width: 48em) {
      .sr-js-trendy .entry__post__content__home__gallery {
        align-content: space-around; } }
    @media (min-width: 48em) {
      .sr-js-trendy .entry__post__content__home__gallery--odd {
        justify-content: space-between; } }
    @media (min-width: 48em) {
      .sr-js-trendy .entry__post__content__home__gallery--even {
        justify-content: space-around; } }
    @media (min-width: 80em) {
      .sr-js-trendy .entry__post__content__home__gallery img {
        height: auto; } }

@media (min-width: 80em) and (max-width: 159.99em) {
  .sr-js-trendy .entry__post__content__home__gallery img {
    width: 20rem; } }
    @media (min-width: 160em) {
      .sr-js-trendy .entry__post__content__home__gallery img {
        width: 40rem; } }
  .sr-js-trendy .entry__post__content__home__visit {
    display: flex;
    align-items: center; }
    .sr-js-trendy .entry__post__content__home__visit__icon {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffa000' d='M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      border-bottom: 0.125rem solid #009688;
      cursor: pointer; }
      @media (max-width: 47.99em) {
        .sr-js-trendy .entry__post__content__home__visit__icon {
          background-size: 2rem 2rem; } }
      @media (min-width: 48em) {
        .sr-js-trendy .entry__post__content__home__visit__icon {
          background-size: 2.82843rem 2.82843rem; } }
      @media (max-width: 47.99em) {
        .sr-js-trendy .entry__post__content__home__visit__icon {
          height: 2rem;
          width: 2rem; } }
      @media (min-width: 48em) {
        .sr-js-trendy .entry__post__content__home__visit__icon {
          height: 2.82843rem;
          width: 2.82843rem; } }
    @media (max-width: 47.99em) {
      .sr-js-trendy .entry__post__content__home__visit {
        flex-direction: column; } }
    @media (min-width: 48em) {
      .sr-js-trendy .entry__post__content__home__visit--odd div:nth-of-type(1) {
        order: 1; }
      .sr-js-trendy .entry__post__content__home__visit--odd div:nth-of-type(2) {
        margin-left: 2rem;
        order: 2; } }
    @media (min-width: 48em) {
      .sr-js-trendy .entry__post__content__home__visit--even div:nth-of-type(1) {
        order: 2; }
      .sr-js-trendy .entry__post__content__home__visit--even div:nth-of-type(2) {
        margin-right: 2rem;
        order: 1; } }
  .sr-js-trendy .entry__post__content__home__travel__local {
    display: flex; }
    .sr-js-trendy .entry__post__content__home__travel__local div:nth-child(1), .sr-js-trendy .entry__post__content__home__travel__local div:nth-child(3) {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    @media (max-width: 47.99em) {
      .sr-js-trendy .entry__post__content__home__travel__local div:nth-child(2) {
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent; } }
    @media (min-width: 48.01em) {
      .sr-js-trendy .entry__post__content__home__travel__local div:nth-child(2) {
        border-left: 1.41421rem solid transparent;
        border-right: 1.41421rem solid transparent; } }
  .sr-js-trendy .entry__post__content__home__travel__national {
    align-items: center;
    display: flex; }
    @media (max-width: 47.99em) {
      .sr-js-trendy .entry__post__content__home__travel__national div:nth-child(2) {
        border-left: 1rem solid transparent;
        border-right: 1rem solid transparent; } }
    @media (min-width: 48.01em) {
      .sr-js-trendy .entry__post__content__home__travel__national div:nth-child(2) {
        border-left: 1.41421rem solid transparent;
        border-right: 1.41421rem solid transparent; } }
  .sr-js-trendy .entry__post__content__home__travel__road {
    align-items: center;
    display: flex;
    flex-direction: column; }
  .sr-js-trendy .entry__post__content__home__travel svg {
    fill: #ffa000; }
    @media (max-width: 47.99em) {
      .sr-js-trendy .entry__post__content__home__travel svg {
        height: 1.41421rem;
        width: 1.41421rem; } }
    @media (min-width: 48em) {
      .sr-js-trendy .entry__post__content__home__travel svg {
        height: 2rem;
        width: 2rem; } }

/** Navigation **/
.sr-js-trendy body {
  position: relative;
  /* Ainsi le menu couvrira 100 % de la page. */ }

.sr-js-trendy .site__navigation__menu summary {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23009688' d='M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat; }
  @media (max-width: 47.99em) {
    .sr-js-trendy .site__navigation__menu summary {
      background-size: 2rem 2rem; } }
  @media (min-width: 48em) {
    .sr-js-trendy .site__navigation__menu summary {
      background-size: 2.82843rem 2.82843rem; } }
  @media (max-width: 47.99em) {
    .sr-js-trendy .site__navigation__menu summary {
      height: 2rem;
      width: 2rem; } }
  @media (min-width: 48em) {
    .sr-js-trendy .site__navigation__menu summary {
      height: 2.82843rem;
      width: 2.82843rem; } }

.sr-js-trendy .site__navigation__menu[open] {
  background-color: #ffecb3;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 2;
  /* Ainsi la carte Google Maps sera-t-elle recouverte a l'ouverture du menu. */ }
  .sr-js-trendy .site__navigation__menu[open] h2 {
    color: #ffa000; }
  .sr-js-trendy .site__navigation__menu[open] h2, .sr-js-trendy .site__navigation__menu[open] ul {
    margin-left: 2.82843rem; }
  .sr-js-trendy .site__navigation__menu[open] li a {
    color: #757575;
    font-size: 1rem;
    margin-top: 1.41421rem;
    text-decoration-skip: none; }
    .sr-js-trendy .site__navigation__menu[open] li a::before {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23009688' d='M12 6v3l4-4-4-4v3c-4.42 0-8 3.58-8 8 0 1.57.46 3.03 1.24 4.26L6.7 14.8c-.45-.83-.7-1.79-.7-2.8 0-3.31 2.69-6 6-6zm6.76 1.74L17.3 9.2c.44.84.7 1.79.7 2.8 0 3.31-2.69 6-6 6v-3l-4 4 4 4v-3c4.42 0 8-3.58 8-8 0-1.57-.46-3.03-1.24-4.26z'/%3E%3C/svg%3E");
      display: inline-block;
      vertical-align: middle; }
      @media (max-width: 47.99em) {
        .sr-js-trendy .site__navigation__menu[open] li a::before {
          margin-right: 1rem; } }
      @media (min-width: 48em) {
        .sr-js-trendy .site__navigation__menu[open] li a::before {
          margin-right: 1.41421rem; } }
    .sr-js-trendy .site__navigation__menu[open] li a:hover {
      color: #ffa000;
      font-weight: 700;
      text-decoration-skip: none; }
  .sr-js-trendy .site__navigation__menu[open] li:first-of-type a {
    margin-top: 0; }
  .sr-js-trendy .site__navigation__menu[open] summary {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23009688' d='M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z'/%3E%3C/svg%3E"); }

/** Entry **/
.sr-js-legacy .entry__post__content__flat h3 {
  margin-bottom: 32px; }

.sr-js-trendy .entry__post__content__flat h3 {
  margin-bottom: 2rem; }

/* Footer */
/** Destinations **/
.sr-js-legacy .site__content__distances__roadmap__station__item {
  margin-top: 22.62742px; }
  .sr-js-legacy .site__content__distances__roadmap__station__item span:nth-child(2) {
    font-weight: 700; }
    .sr-js-legacy .site__content__distances__roadmap__station__item span:nth-child(2)::after {
      content: "\2C\A0"; }
  .sr-js-legacy .site__content__distances__roadmap__station__item span:last-child::after {
    content: "\2E"; }

.sr-js-trendy .site__content__distances {
  margin: 1.41421rem 0;
  max-width: 100%;
  /* Nécessaire pour Chrome sous Android */ }
  .sr-js-trendy .site__content__distances__roadmap {
    width: inherit !important;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden; }
    @media (max-width: 47.99em) {
      .sr-js-trendy .site__content__distances__roadmap::-webkit-scrollbar {
        height: 1rem;
        width: 1rem; } }
    @media (min-width: 48em) {
      .sr-js-trendy .site__content__distances__roadmap::-webkit-scrollbar {
        height: 1.41421rem;
        width: 1.41421rem; } }
    .sr-js-trendy .site__content__distances__roadmap::-webkit-scrollbar-track {
      background-color: #009688; }
      @media (max-width: 47.99em) {
        .sr-js-trendy .site__content__distances__roadmap::-webkit-scrollbar-track {
          -webkit-border-radius: 1rem;
          border-radius: 1rem; } }
      @media (min-width: 48em) {
        .sr-js-trendy .site__content__distances__roadmap::-webkit-scrollbar-track {
          -webkit-border-radius: 1.41421rem;
          border-radius: 1.41421rem; } }
    .sr-js-trendy .site__content__distances__roadmap::-webkit-scrollbar-thumb {
      background-color: #ffa000; }
      @media (max-width: 47.99em) {
        .sr-js-trendy .site__content__distances__roadmap::-webkit-scrollbar-thumb {
          -webkit-border-radius: 1rem;
          border-radius: 1rem; } }
      @media (min-width: 48em) {
        .sr-js-trendy .site__content__distances__roadmap::-webkit-scrollbar-thumb {
          -webkit-border-radius: 1.41421rem;
          border-radius: 1.41421rem; } }
    .sr-js-trendy .site__content__distances__roadmap__station {
      display: flex; }
      .sr-js-trendy .site__content__distances__roadmap__station__item {
        align-items: center;
        display: flex;
        flex-direction: column; }
        @media (max-width: 47.99em) {
          .sr-js-trendy .site__content__distances__roadmap__station__item {
            flex: 0 0 45.25483%; } }
        @media (min-width: 48em) {
          .sr-js-trendy .site__content__distances__roadmap__station__item {
            flex: 0 0 32%; } }
        @media (max-width: 47.99em) {
          .sr-js-trendy .site__content__distances__roadmap__station__item {
            margin-bottom: 0.25rem; } }
        @media (min-width: 48em) {
          .sr-js-trendy .site__content__distances__roadmap__station__item {
            margin-bottom: 0.35355rem; } }
        .sr-js-trendy .site__content__distances__roadmap__station__item__icon {
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffc107' d='M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 4rem 4rem;
          height: 4rem;
          width: 4rem; }
        .sr-js-trendy .site__content__distances__roadmap__station__item:nth-child(1) {
          align-self: center;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23009688' d='M13.5 5.5c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zM9.8 8.9L7 23h2.1l1.8-8 2.1 2v6h2v-7.5l-2.1-2 .6-3C14.8 12 16.8 13 19 13v-2c-1.9 0-3.5-1-4.3-2.4l-1-1.6c-.4-.6-1-1-1.7-1-.3 0-.5.1-.8.1L6 8.3V13h2V9.6l1.8-.7'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: 5.65685rem 5.65685rem;
          height: 5.65685rem;
          width: 5.65685rem; }
        .sr-js-trendy .site__content__distances__roadmap__station__item a {
          font-weight: normal;
          color: inherit; }
          .sr-js-trendy .site__content__distances__roadmap__station__item a::after {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23009688' d='M12 10.9c-.61 0-1.1.49-1.1 1.1s.49 1.1 1.1 1.1c.61 0 1.1-.49 1.1-1.1s-.49-1.1-1.1-1.1zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm2.19 12.19L6 18l3.81-8.19L18 6l-3.81 8.19z'/%3E%3C/svg%3E");
            display: inline-block;
            vertical-align: middle; }
            @media (max-width: 47.99em) {
              .sr-js-trendy .site__content__distances__roadmap__station__item a::after {
                margin-left: 0.5rem; } }
            @media (min-width: 48em) {
              .sr-js-trendy .site__content__distances__roadmap__station__item a::after {
                margin-left: 0.70711rem; } }

/** Share **/
.footer__share svg {
  fill: #009688; }

.footer__info__sep {
  color: #ffc107; }

.footer__info__totop {
  text-align: right; }

.sr-js-legacy .footer__share {
  text-align: center; }
  .sr-js-legacy .footer__share svg {
    height: 90.50967px;
    width: 90.50967px; }

.sr-js-legacy .footer__info__copyright span::before {
  color: #ffc107;
  content: "\A9\A0";
  font-weight: 700;
  font-family: monospace; }

.sr-js-trendy .footer__share {
  display: flex; }
  @media (max-width: 47.99em) {
    .sr-js-trendy .footer__share {
      justify-content: space-between; } }
  @media (min-width: 48em) {
    .sr-js-trendy .footer__share {
      justify-content: space-around; } }
  @media (max-width: 47.99em) {
    .sr-js-trendy .footer__share svg {
      height: 4rem;
      width: 4rem; } }
  @media (min-width: 48em) {
    .sr-js-trendy .footer__share svg {
      height: 5.65685rem;
      width: 5.65685rem; } }

@media (max-width: 47.99em) {
  .sr-js-trendy .footer__info {
    text-align: center; } }

.sr-js-trendy .footer__info__copyright span::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffc107' d='M10.08 10.86c.05-.33.16-.62.3-.87s.34-.46.59-.62c.24-.15.54-.22.91-.23.23.01.44.05.63.13.2.09.38.21.52.36s.25.33.34.53.13.42.14.64h1.79c-.02-.47-.11-.9-.28-1.29s-.4-.73-.7-1.01-.66-.5-1.08-.66-.88-.23-1.39-.23c-.65 0-1.22.11-1.7.34s-.88.53-1.2.92-.56.84-.71 1.36S8 11.29 8 11.87v.27c0 .58.08 1.12.23 1.64s.39.97.71 1.35.72.69 1.2.91 1.05.34 1.7.34c.47 0 .91-.08 1.32-.23s.77-.36 1.08-.63.56-.58.74-.94.29-.74.3-1.15h-1.79c-.01.21-.06.4-.15.58s-.21.33-.36.46-.32.23-.52.3c-.19.07-.39.09-.6.1-.36-.01-.66-.08-.89-.23-.25-.16-.45-.37-.59-.62s-.25-.55-.3-.88-.08-.67-.08-1v-.27c0-.35.03-.68.08-1.01zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z'/%3E%3C/svg%3E");
  display: inline-block;
  margin-right: 0.125rem;
  vertical-align: middle; }

.sr-js-trendy .footer__info__totop svg {
  fill: #ffc107; }
  @media (max-width: 47.99em) {
    .sr-js-trendy .footer__info__totop svg {
      height: 2.82843rem;
      width: 2.82843rem; } }
  @media (min-width: 48em) {
    .sr-js-trendy .footer__info__totop svg {
      height: 4rem;
      width: 4rem; } }

/* Appendix */
.sr-js-legacy .site__appendix {
  margin-top: 22.62742px; }
  .sr-js-legacy .site__appendix img {
    display: block;
    margin: auto; }

.sr-js-trendy .site__appendix {
  margin-top: 1.41421rem; }

/* Plugins */
/** Sator Contact Form **/
.entry__post__content__form p label {
  background-color: #009688;
  color: #ffa000;
  font-weight: 700; }

.entry__post__content__form__check {
  font-weight: 700; }

.entry__post__content__form__response p {
  margin-top: 0; }

.sr-js-legacy .entry__post__content__form p label {
  padding: 0 32px; }

.sr-js-legacy .entry__post__content__form__check p {
  color: #ffc107; }

.sr-js-legacy .entry__post__content__form__response__loader {
  color: #ffc107;
  font-size: 45.25483px;
  font-weight: 700;
  margin: 45.25483px auto; }

.sr-js-legacy .entry__post__content__form__response__process {
  /* Nous ne parvenons a factoriser la declaration de la bordure en ne declarant sa couleur que dans les deux "modifier". */
  margin: 2% 8%;
  padding: 16px;
  text-align: center; }
  .sr-js-legacy .entry__post__content__form__response__process--success {
    border: 5.65685px solid #009688;
    border-radius: 45.25483px;
    color: #009688; }
  .sr-js-legacy .entry__post__content__form__response__process--error {
    border: 5.65685px solid #ffc107;
    border-radius: 45.25483px;
    color: #ffc107; }

@media (max-width: 47.99em) {
  .sr-js-trendy .entry__post__content__form p label {
    padding: 0 1.41421rem; } }

@media (min-width: 48em) {
  .sr-js-trendy .entry__post__content__form p label {
    padding: 0 2rem; } }

.sr-js-trendy .entry__post__content__form__check p::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffc107' d='M11 15h2v2h-2zm0-8h2v6h-2zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z'/%3E%3C/svg%3E");
  display: inline-block;
  vertical-align: middle; }
  @media (max-width: 47.99em) {
    .sr-js-trendy .entry__post__content__form__check p::before {
      margin-right: 0.70711rem; } }
  @media (min-width: 48em) {
    .sr-js-trendy .entry__post__content__form__check p::before {
      margin-right: 1rem; } }

.sr-js-trendy .entry__post__content__form__response__spinner {
  animation: rotator 1.4s linear infinite;
  display: block;
  height: 4rem;
  width: 4rem; }
  @media (max-width: 47.99em) {
    .sr-js-trendy .entry__post__content__form__response__spinner {
      margin: 2.82843rem auto; } }
  @media (min-width: 48em) {
    .sr-js-trendy .entry__post__content__form__response__spinner {
      margin: 5.65685rem auto; } }
  .sr-js-trendy .entry__post__content__form__response__spinner--path {
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    transform-origin: center; }

.sr-js-trendy .entry__post__content__form__response__process {
  align-items: center;
  display: flex; }
  @media (max-width: 47.99em) {
    .sr-js-trendy .entry__post__content__form__response__process {
      flex-direction: column; } }
  @media (min-width: 48em) {
    .sr-js-trendy .entry__post__content__form__response__process {
      justify-content: center; } }
  .sr-js-trendy .entry__post__content__form__response__process div:nth-child(1) {
    background-repeat: no-repeat; }
    @media (max-width: 47.99em) {
      .sr-js-trendy .entry__post__content__form__response__process div:nth-child(1) {
        border-bottom: 1rem solid transparent; } }
    @media (min-width: 48em) {
      .sr-js-trendy .entry__post__content__form__response__process div:nth-child(1) {
        border-right: 1.41421rem solid transparent; } }
    @media (max-width: 47.99em) {
      .sr-js-trendy .entry__post__content__form__response__process div:nth-child(1) {
        background-size: 4rem 4rem;
        height: 4rem;
        width: 4rem; } }
    @media (min-width: 48em) {
      .sr-js-trendy .entry__post__content__form__response__process div:nth-child(1) {
        background-size: 5.65685rem 5.65685rem;
        height: 5.65685rem;
        width: 5.65685rem; } }
  @media (max-width: 47.99em) {
    .sr-js-trendy .entry__post__content__form__response__process div:nth-child(2) {
      border-top: 1rem solid transparent; } }
  @media (min-width: 48em) {
    .sr-js-trendy .entry__post__content__form__response__process div:nth-child(2) {
      border-left: 1.41421rem solid transparent; } }
  .sr-js-trendy .entry__post__content__form__response__process--success {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffc107' d='M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z'/%3E%3C/svg%3E"); }
  .sr-js-trendy .entry__post__content__form__response__process--error {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23009688' d='M9 1.03c-4.42 0-8 3.58-8 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zM10 13H8v-2h2v2zm0-3H8V5h2v5z'/%3E%3C/svg%3E"); }

@keyframes rotator {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(270deg); } }

@keyframes colors {
  0% {
    stroke: #ffa000; }
  25% {
    stroke: #ffc107; }
  50% {
    stroke: #ffecb3; }
  75% {
    stroke: #009688; }
  100% {
    stroke: #ffa000; } }

@keyframes dash {
  0% {
    stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform: rotate(135deg); }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg); } }

/** Sator Legal **/
.site__entry__post__content {
  /*ul {
                    list-style-type: none !important;
                    margin-left: 0 !important;
                }*/ }

.site__content__legal {
  text-align: center; }

.sr-js-legacy .site__content__legal {
  border: 5.65685px solid #ffc107;
  border-radius: 45.25483px;
  box-shadow: 4px 8px #ffc107;
  margin: 4% 8%;
  padding: 16px; }

.sr-js-trendy .site__content__legal {
  border: 0.35355rem solid #ffc107;
  border-radius: 2.82843rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  padding: 1rem; }
  @media (max-width: 47.99em) {
    .sr-js-trendy .site__content__legal {
      box-shadow: 0.125rem 0.5rem #ffc107; } }
  @media (min-width: 48em) {
    .sr-js-trendy .site__content__legal {
      box-shadow: 0.25rem 0.5rem #ffc107; } }
  @media (max-width: 47.99em) {
    .sr-js-trendy .site__content__legal {
      margin-left: 5.65685%;
      margin-right: 5.65685%; } }
  @media (min-width: 48em) {
    .sr-js-trendy .site__content__legal {
      margin-left: 8%;
      margin-right: 8%; } }

/** Sator Galleries **/
.sr-js-legacy .entry__post__content__gallery {
  margin-top: 32px; }
  .sr-js-legacy .entry__post__content__gallery details summary {
    cursor: default;
    pointer-events: none; }
    .sr-js-legacy .entry__post__content__gallery details summary img {
      margin-top: 22.62742px; }
  .sr-js-legacy .entry__post__content__gallery__lightbox {
    display: none; }

.sr-js-trendy .entry__post__content__flat__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem; }
  .sr-js-trendy .entry__post__content__flat__gallery details summary img {
    margin-top: 1.41421rem; }
    @media (min-width: 80em) {
      .sr-js-trendy .entry__post__content__flat__gallery details summary img {
        height: auto; } }

@media (min-width: 80em) and (max-width: 159.99em) {
  .sr-js-trendy .entry__post__content__flat__gallery details summary img {
    width: 20rem; } }
    @media (min-width: 160em) {
      .sr-js-trendy .entry__post__content__flat__gallery details summary img {
        width: 40rem; } }
  .sr-js-trendy .entry__post__content__flat__gallery details[open] summary {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23009688' d='M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41 14.59 8zM12 2C6.47 2 2 6.47 2 12s4.47 10 10 10 10-4.47 10-10S17.53 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z'/%3E%3C/svg%3E");
    background-size: 2.82843rem 2.82843rem;
    background-repeat: no-repeat;
    height: 2.82843rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 2.82843rem;
    z-index: 2; }
    .sr-js-trendy .entry__post__content__flat__gallery details[open] summary img {
      display: none; }
  .sr-js-trendy .entry__post__content__flat__gallery__lightbox {
    align-content: center;
    align-items: center;
    background-color: #757575;
    display: flex;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw; }

/** Sator Google Maps **/
.sy-no-js .entry__post__content__home__map__display {
  height: none;
  visibility: hidden; }

.sy-no-js .entry__post__content__home__map__failback {
  display: none;
  visibility: hidden; }

.sy-no-js .entry__post__content__home__map__gps p::before {
  content: "\2B8E\2009"; }

.sr-js-legacy .entry__post__content__home__map__display {
  display: none;
  visibility: hidden; }

.sr-js-legacy .entry__post__content__home__map__failback {
  display: block; }

.sr-js-legacy .entry__post__content__home__map__gps p::before {
  content: "\2B8E\2009"; }

.sr-js-trendy .entry__post__content__home__map__display {
  margin-bottom: 1.41421rem;
  margin-top: 1.41421rem;
  height: 50vh;
  width: 100%; }

.sr-js-trendy .entry__post__content__home__map__failback {
  display: none;
  visibility: hidden; }

.sr-js-trendy .entry__post__content__home__map__gps p::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffc107' d='M12 8c-2.21 0-4 1.79-4 4s1.79 4 4 4 4-1.79 4-4-1.79-4-4-4zm8.94 3c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z'/%3E%3C/svg%3E");
  display: inline-block;
  vertical-align: middle; }
  @media (max-width: 47.99em) {
    .sr-js-trendy .entry__post__content__home__map__gps p::before {
      margin-right: 0.70711rem; } }
  @media (min-width: 48em) {
    .sr-js-trendy .entry__post__content__home__map__gps p::before {
      margin-right: 1rem; } }
